/*
1/ Nav bar
2/ HomePage
3/ Lucie Actu
4/ Bijoux
*/

.site-footer {
    /* .push must be the same height as footer */
    height: 100px;
    margin-top: 50px;
    background-color: #2d2d2d;
}
.text-footer {
    color: white;
}

.minspace {
    height: 25px;
}
.space {
    height: 50px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 20px;
}
.footerimg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* --------------------------------------------- *\
                       Nav bar
\* --------------------------------------------- */
.navbar {
    margin-bottom: 0px;
}
.navbar-default .navbar-brand{
    color: #b8b8b8;
}
.navbar-default .navbar-brand:hover {
    color: #ffffff;
}
.navbar-default {
    background-color: #2d2d2d;
    border-color: #101010;
    border-radius: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #b8b8b8;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
}
a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
    margin-right: 0px;
}
.navbar-default .navbar-brand{
    margin-left: 10px;
}
/* --------------------------------------------- *\
                       HomePage
\* --------------------------------------------- */

.container-fluid {
    margin: auto;
    padding: 0px;
}
.row {
    margin: 0;
}
.rowblack {
    background-color: #5f5f5f;
}
.textwhite {
    color: white;
}
.imgnav {
    margin-top: 75px;
}
.imghp {
    width: 100%;
    height: 300px;
}
.divimgleft {
    width: 350px;
    height: 300px;
}
.divimgmiddle {
    width: 320px;
    height: 300px;
}
.divimgright {
    width: 160px;
    height: 300px;
}
.imgleft {
    height: 100%;
    /*background-image: url("../img/homepage/lefthp.png");*/
    /*background-image: url("/symfony/Ecommerce/web/uploads/drapeaux/Flag_fr.png");*/
    /*background-image: url("/../../../web/"{{ aleat_art2 }});*/
    /*background-image: url({{ aleat_art }});*/
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
.imgmiddle {
    height: 100%;
    /*background-image: url("../img/homepage/middlehp.png");*/
    background-repeat: no-repeat;
    background-size: cover;
}
.imgright {
    height: 100%;
    /*background-image: url("../img/homepage/righthp.png");*/
    background-repeat: no-repeat;
    background-size: cover;
}
.textlefthp, .textmiddlehp, .textrighthp {
    text-align: center;
    display: none;
    /*position: relative;*/
    top: 45%;
    position: absolute;
    z-index: 9;
}
.textlefthp, .textmiddlehp, .textrighthp {
    background-color: white;
}
a div p {
    color: black;
}
@media screen and (max-width: 992px){
    .divimgleft {
        width: 300px;
        height: 200px;
    }
    .divimgmiddle {
        width: 270px;
        height: 200px;
    }
    .divimgright {
        width: 110px;
        height: 200px;
    }
}
@media screen and (max-width: 709px){
    .divimgleft {
        width: 400px;
        height: 350px;
    }
    .divimgmiddle {
        width: 400px;
        height: 350px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .divimgright {
        width: 300px;
        height: 350px;
    }
}
@media screen and (max-width: 430px){
    .divimgleft {
        width: 300px;
        height: 200px;
        left: 11%;
    }
    .divimgmiddle {
        width: 300px;
        height: 200px;
        margin-top: 20px;
        margin-bottom: 20px;
        left: 11%;
    }
    .divimgright {
        width: 110px;
        height: 200px;
        left: 40%;
    }
}
/* ------------------ Lucie Actu ------------------ */
.img_presentation {
    width: 100%;
    height: 300px;
}
.text_presentation {
    text-align: justify;
}
.bouton {
    border-radius: 30px;
}
/* ------------------ Bijoux ------------------ */
.imgbijou {
    width: 100%;
    height: 150px;
}
.img_bijou_det {
    width: 250px;
    height: 100%;
}
.img_bij_cat {
    width: 100%;
    height: 40px;
}
.txt_bij_cat {
    background-color: grey;
}
img.image_produit {
    width: 100%;
}
img.imgchariot {
    height: 40px;
}
/* -------------------------------------------- *\
                      Tableau
\* -------------------------------------------- */
.imgtableau {
    width: 80%;
    height: 200px;
    box-shadow: 3px -3px 6px 2px rgba(0, 0, 0, 0.6);
    margin-top: 10px;
}
.img_tableau_det {
    width: 250px;
    height: 100%;
}
.img_tab_cat {
    width: 100%;
    height: 40px;
}
.txt_tab_cat {
    background-color: grey;
}
/* -------------------------------------------- *\
                      Panier
\* -------------------------------------------- */
table {
    border-collapse: collapse;
}
td, th /* Mettre une bordure sur les td ET les th */ {
    border: 1px solid #ddd;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td  {
    vertical-align: middle;
}
.prixtotal {
    text-align: right;
}
.imgpanier {
    width: 100%;
    height: 150px;
    margin-right: -55px;
    margin-left: -55px;
}
:required:hover {
    border: 2px dotted orange;
}
#hide_adrlivraison {
    display:none;
}
/* -------------------------------------------- *\
                      Adresse show
\* -------------------------------------------- */
.floatright{
    float: right;
}