img.image_produit,
img.image_lang,
img.image_categ {
    width: 100px;
}

img.image_show_produit,
.image_cat,
.image_param {
    width: 600px;
}
.icode_pdf {
    width: 30px;
}
.icode_pdf_show {
    width: 60px;
}

ul {
    margin: 0;
    padding: 0;
}

.col-lg-4 ul li,
.col-lg-8 ul li,
.col-lg-offset-1.col-lg-11 ul li,
ul.nopuce li {
    list-style-type: none;
    margin: 0 0 10px 0;
}

/*ul li
{
    list-style-type: none;
    margin: 0 0 10px 0;
}*/

label {
    display: block;
    margin: 0px;
}

#spend_spendDate_date {
    margin: 0px;
    padding: 0px;
}

#spend_spendGroupIndiv, #spend_spendDate_time_hour, #spend_spendDate_time_minute {
    margin: 0 0 20px 0;
}

#spend_spendLibel {
    float: none;
}

#spend_spendDate_date, #spend_spendDate_time_hour {
    margin: 0 0 5px 0;
}

.btn-primary {
    margin-top: 30px;
}

.btn-success {
    margin-top: 25px;
}

.point {
    display: inline-block;
}

#place-btn {
    margin-top: 15px;
}

.jumbotron h1 {
    margin: initial;
}
.alerte_vendu {
    color: red;
    font-weight: bold;
}
.rowblack {
    background-color: #5f5f5f;
}
.txt_com_etat {
    background-color: grey;
    color: white;
}
.textwhite {
    color: white;
}

/*--------------------------------------*\
                Admin boutons
\*--------------------------------------*/
.glyphicon-eye-open, .glyphicon-edit {
    margin-right: 5px;
}
.lib_champs {
    text-align: right;
    margin-top: 5%;
}
#tva_tvaEtat {
    height: 34px;
    width: 34px;
}
.lib_error {
    color: #761c19;
}
/*--------------------------------------*\
                Email exist
\*--------------------------------------*/
li {
    list-style-type: none;
}
/* ------------------ Nav bar ------------------ */
.navbar {
    margin-bottom: 0px;
}
.navbar-default .navbar-brand{
    color: #b8b8b8;
}
.navbar-default .navbar-brand:hover {
    color: #ffffff;
}
.navbar-default {
    background-color: #2d2d2d;
    border-color: #101010;
    border-radius: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #b8b8b8;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
}

/* td, th /* Mettre une bordure sur les td ET les th */
.tab_adresses {
    border: 1px solid #ddd;
}
