{% extends 'base.html.twig' %}

{% block body %}
        <header>
            <div class="container-fluid"><!-- Top Bar noir -->
                <div class="row rowblack">
                    <div class="row text-center textwhite"><h1>Lucie DE SAINT</h1></div>
                    <div class="row text-center textwhite"><h2>Artiste Plasticienne, Créatrice de Bijoux</h2></div>
                </div>
            </div><!-- Fin top bar noir -->
        </header>
        <div class="container imgnav"><!-- Image navigation -->
            <div class="row">
                <div class="col-md-offset-1 col-md-4 divimgleft">
                    <a href={{ path('app_tableau') }}>
                        <div class="img-responsive imgleft hvr-grow-shadow">
                            <p class="">Entrer dans l'univers de l'Art</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 divimgmiddle">
                    <a href={{ path('app_bijou') }}>
                        <div class="img-responsive imgmiddle hvr-grow-shadow">
                            <p class="">Entrer dans l'univers des Bijoux</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 divimgright">
                    <a href={{ path('app_lucieactu') }}>
                        <div class="img-responsive imgright hvr-grow-shadow">
                            <p class="">Lucie DE SAINT</p>
                        </div>
                    </a>
                </div>
            </div>
        </div> <!-- Fin image navigation -->
{% endblock %}